    <div class="columns">
        <div class="column">
            <div class="content">
                <h1>{{ text }}</h1>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img src="{{ image }}" alt="">
            </div>
        </div>
    </div>