<div class="content splash-body background-image is-clipped-right" style="background-image:url('{{ image }}')">
    <div class="content">
        <div class="columns is-mobile">
            <div class="column is-7-mobile is-6-tablet is-6-desktop is-5-widescreen is-4-fullhd">
                <h1 class="aankondiging">{{ text }}</h1>
                <a href="#" class="button is-inverted button-agenda" style="z-index: +1">zet in agenda</a>
            </div>
        </div>
    </div>

    <div class="button-scroll-down is-hidden-mobile">
        <span class="scroll-down">{{ scroll_caption }}</span>
        <div class="vertical-line"></div>
    </div>
</div>