{# app START #}
<div id="app"></div>
<script src="{{ site.theme.link }}/assets/woningzoeker/js/chunk-vendors.72871a71.js"></script>
<script src="{{ site.theme.link }}/assets/woningzoeker/js/app.d44b4d05.js"></script>
{# app END #}

{# DOWNLOADS START #}
<section class="section app-downloads fit-height">
    <div class="container is-fluid" style="padding-top: 0; min-height: auto">
        <div class="columns is-hidden-tablet">
            <div class="column is-offset-5">
                <div class="level button-group">
                    <div class="level-item level-left">
                        <a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Brochure.pdf" class="button">Brochure (PDF)</a>
                    </div>
                    <div class="level-item level-right">
                        <a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Technische_Omschrijving.pdf" class="button">Specificaties (PDF)</a>
                    </div>
                    <div class="level-item level-left">
                        <a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Prijslijst.pdf" class="button">Prijslijst (PDF)</a>
                    </div>
                    <div class="level-item level-right">
                        <a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Verkoop_Procedure.pdf" class="button">Verkoop Procedure (PDF)</a>
                    </div>
                    <!-- <div class="level-item"><a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Prijslijst.pdf" class="button">Verkoop Tekeningen (PDF)</a></div> -->
                </div>
            </div>
        </div>
        <div class="columns is-hidden-mobile is-hidden-desktop">
            <div class="column is-offset-5">
                <div class="level">
                    <div class="level-item level-left">
                        <a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Brochure.pdf" class="button">Brochure (PDF)</a>
                    </div>
                    <div class="level-item level-right">
                        <a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Technische_Omschrijving.pdf" class="button">Specificaties (PDF)</a>
                    </div>
                </div>
                <div class="level">
                    <div class="level-item level-left">
                        <a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Prijslijst.pdf" class="button">Prijslijst (PDF)</a>
                    </div>
                    <div class="level-item level-right">
                        <a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Verkoop_Procedure.pdf" class="button">Verkoop Procedure (PDF)</a>
                    </div>
                    <!-- <div class="level-item"><a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Prijslijst.pdf" class="button">Verkoop Tekeningen (PDF)</a></div> -->
                </div>
            </div>
        </div>
        <div class="columns is-hidden-mobile is-hidden-tablet-only is-hidden-widescreen">
            <div class="column is-offset-5">
                <div class="level button-group">
                    <div class="level-left">
                    <div class="level-item" style="">
                        <a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Brochure.pdf" class="button">Brochure (PDF)</a>
                    </div>
                    <div class="level-item " style="">
                        <a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Prijslijst.pdf" class="button">Prijslijst (PDF)</a>
                    </div>
                    <div class="level-item " style="">
                        <a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Technische_Omschrijving.pdf" class="button">Specificaties (PDF)</a>
                    </div>
                    </div>
                </div>
                <div class="level button-group">
                    <div class="level-item level-left">
                        <a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Verkoop_Procedure.pdf" class="button">Verkoop Procedure (PDF)</a>
                    </div>
                    <!-- <div class="level-item"><a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Prijslijst.pdf" class="button">Verkoop Tekeningen (PDF)</a></div> -->
                </div>
            </div>
        </div>
        <div class="columns is-hidden-mobile is-hidden-tablet-only is-hidden-desktop-only">
            <div class="column is-offset-5">
                <div class="level button-group">
                    <div class="level-right">
                    <div class="level-item" style="">
                        <a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Brochure.pdf" class="button">Brochure (PDF)</a>
                    </div>
                    <div class="level-item" style="">
                        <a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Prijslijst.pdf" class="button">Prijslijst (PDF)</a>
                    </div>
                    <div class="level-item" style="">
                        <a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Technische_Omschrijving.pdf" class="button">Specificaties (PDF)</a>
                    </div>
                    <div class="level-item">
                        <a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Verkoop_Procedure.pdf" class="button">Verkoop Procedure (PDF)</a>
                    </div>
                    </div>
                    <!-- <div class="level-item"><a target="_blank" href="http://bunkertoren.nl/site/wp-content/themes/bunkertoren/assets/woningzoeker/BunkerToren_Prijslijst.pdf" class="button">Verkoop Tekeningen (PDF)</a></div> -->
                </div>
            </div>
        </div>
    </div>
</section>
{# DOWNLOADS END #}